.ContentContainer {
  position: relative;
  width: calc(75% + 1px);
  height: 90vh;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.ContentContainerFullScreen {
  width: 100%;
}

.ContentWithSideMenu {
  display: flex;
  justify-content: flex-start;
  height: 90vh;
  width: 100%;
}
