.Header {
  height: calc(10vh - 1px);
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  border-bottom: 1px solid rgb(100, 100, 100);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*background: #53b49b;/*#7fdcc4;*/
  background: #7bd8c0;
}

.HeaderLogo {
  height: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  height: 65%;
  margin-right: 10px;
  margin-left: 10px;
}

.headerRightSide {
  position: absolute;
  right: 5%;
}

.headerRightSide > div {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  line-height: calc(10vh - 1px);
}

.headerRightSide > div:hover {
  background: rgba(128, 128, 128, 0.2);
}

.humburger {
  display: inline-block;
  height: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.link {
  cursor: pointer;
}

.link:hover {
  background: rgba(128, 128, 128, 0.2);
}
