.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  margin-top: 5px;
  min-height: 30px;
  line-height: 30px;
  padding: 5px 15px;
  border-radius: 5px;
  background: rgb(74, 149, 255);
  color: white;
  cursor: pointer;
}
