.GraphContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /*font-size: 150%;*/
}

.GraphContainerFullScreen {
  width: 100%;
}

.chartTypeDropDown {
  position: absolute;
  top: 2%;
  right: 2.5%;
  display: inline-flex;
}

.chartContainer {
  padding-top: 12%;
}

.chartContainerFullScreen {
  padding-top: 6%;
}
