
.kpiSet {
  position: relative;
  margin-left: calc(15% - 30px);
  width: 70%;
  padding: 20px 30px;
  border: 1px solid rgba(215, 215, 215, 0.5);
  box-shadow: 2px 2px 20px rgb(215,215,215);
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  /*
  // can add a @media to make the layout change when screen is smaller 
  lex-wrap: wrap;*/
}

.rKpiSet {
  position: relative;
  margin-left: calc(15% - 30px);
  width: 70%;
  padding: 20px 30px;
  border: 1px solid rgba(215, 215, 215, 0.5);
  box-shadow: 2px 2px 20px rgb(215,215,215);
  border-radius: 10px;
  margin-top: 40px;
  display: flex; 
  /*
  // can add a @media to make the layout change when screen is smaller 
  lex-wrap: wrap;*/
}

.rKpiMeta {
  position: relative;
  /*margin-left: calc(15% - 30px);*/
  width: 70%;
  display: flex;
}


.kpiSection {
  /*display: inline-block;
  vertical-align: top;*/
  width: 40%;
  min-width: 140px;
  min-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.kpiButtonSection {
  /*display: inline-block;
  vertical-align: top;*/
  width: 20%;
  min-width: 70px;
  min-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.kpiNameLabel {
  font-weight: bold;
}

.kpiName {
  padding-top: 5px;
  padding-bottom: 5px;
}

.kpiDates {
  margin-top: 15px;
}

.kpiDates > div {
  color: rgb(170,170,170);
  margin-top: 5px;
  font-size: 14px;
}

.viewDetailsButton {
  display: inline-block;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background: white;
  color: rgb(190,190,190);
  border: 1px solid rgb(190,190,190);
  cursor: pointer;
  margin-top: 17px;
  font-size: 14px;
}



.kpiOptionTop {
  margin-bottom: 15px;
  text-align: right;
}

.kpiOptionBottom {
  margin-top: 15px;
  text-align: right;
}

.editButton {
  display: inline-block;
  min-height: 30px;
  line-height: 30px;
  padding: 5px 15px;
  border-radius: 5px;
  background: rgb(200,200,200);
  color: white;
  cursor: pointer;
}

.selectButton {
  display: inline-block;
  min-height: 30px;
  line-height: 30px;
  padding: 5px 15px;
  border-radius: 5px;
  background: rgb(74, 149, 255);
  color: white;
  cursor: pointer;
}
