

.closeButtonMyData {
  position: absolute;
  margin: 20px;
  padding: 5px 8px;
  border: 1px solid rgb(150,150,150);
  border-radius: 5px;
  color: rgb(150,150,150);
  cursor: pointer;
}

.myDataContainer {
  position: relative;
  text-align: center;
  width: calc(75% + 1px);
  height: 100%;
  overflow-y: scroll;
}

.myDataContainerFullScreen {
  width: 100%;
}



.kpiSets {

}

.paddingBottom {
  height: 10vh;
  width: 100%;
}
