

.refDataContainer {
  position: relative;
  text-align: center;
  width: calc(75% + 1px);
  height: 100%;
  overflow-y: scroll;
}



.kpiSets {
  
}

.paddingBottom {
  height: 10vh;
  width: 100%;
}
