

.refDataContainer {
  position: relative;
  text-align: center;
  width: calc(75% + 1px);
  height: 100%;
  overflow-y: scroll;
}

.refDataContainerFullScreen {
  width: 100%;
}



.kpiSets {

}

.paddingBottom {
  height: 10vh;
  width: 100%;
}

.smallPaddingBottom {
  height: 4vh;
  width: 100%;
}

.overflowHidden {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inputViewContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(0,0,0,0.35);
}

.darkBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}
