.AboutContainer {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.AboutMain {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 800px;
  line-height: 32px;
  font-size: 120%;
}

.AboutMain h1 {
  color: rgb(70, 70, 70);
  line-height: 60px;
  font-size: 38px;
}

.paddingBottom {
  height: 10vh;
  width: 100%;
}

.heading {
  font-weight: bold, sans-serif;
}

.Content {
  display: flex;
  justify-content: flex-start;
  height: 90vh;
  width: 100%;
}