.ProfileContainer {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.ProfileMain {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 800px;
  line-height: 32px;
  font-size: 80%;
}
.ProfileMain h1 {
  color: rgb(70,70,70);
  line-height: 60px;
  font-size: 38px;
}
.ProfileMain h3 {
  font-weight: bold;
  height: 90%;
  line-height: 24px;
}

.paddingBottom {
  height: 10vh;
  width: 100%;
}

.logoutButton {
  display: inline-block;
  margin-top: 5px;
  margin-right: 15px;
  min-height: 30px;
  line-height: 30px;
  padding: 5px 15px;
  border-radius: 5px;
  background: rgb(74, 149, 255);
  color: white;
  cursor: pointer;
}
